:root{
    --bg:linear-gradient(135deg,#0a0f3d,#5323a6,#8a1f7a);
    --todo-bg:white
}

.container-fluid{
    background:var(--bg) ;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: poppins;


}
.todo-container{
    background-color: var(--todo-bg);
    border-radius: 12px;
    height: 150px;
    margin-top: 5rem;
    
}
.form-control{
    font-size: 12px;
}
.check{
    height: 20px;
    width: 20px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 1rem;
}
.inner_div{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 18px;
}

