:root{
    --bg:linear-gradient(135deg,#0a0f3d,#5323a6,#8a1f7a);
    --todo-bg:white
}

.container-fluid{
    background:var(--bg);
    min-height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: poppins;
}

.todo-container{
    background-color: var(--todo-bg);
    border-radius: 12px;
    margin-top: 5rem;
    padding: 20px;
    width: 350px;
    min-height: auto;
    
}
.form-control{
    font-size: 12px;
    
}
.check{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 1rem;
    cursor: pointer;
}
.inner_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    
}
.errorMsg{
    color: red;
    font-size: 15px;
}

.inner_div div p{
    margin: 0;
    padding-left: 8px;
}

.trash{
    margin-left: 15px;
    cursor: pointer;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
